extends layout

block header

block content
    .container.center-block
        h1 Admin Page
        br 
        .form-group
            a.btn.btn-success(href='/new_form') New Form
        .form-group
            a.btn.btn-warning(href='/edit_form') Edit Form
        .form-group
            a.btn.btn-primary(href='/') Export to CSV
