extends layout

block header

block content
    .container.center-block
        h1= title
        form(method='post')
            .form-group
                label Admin Password:
                input.form-control(type='password' name='admin-password' placeholder='Password' required)
            .form-group
                button.btn.btn-default(type='submit') Submit
