extends layout

block header
    title Admin Page
block content
    h1 Admin Page
    hr 
    .form-group
        a.btn.btn-success(href='/new_form') New Form
    .form-group
        a.btn.btn-warning(href='/edit_form') Edit Form
    .form-group
        a.btn.btn-info(href='/contact_info') Contact Info
    .form-group
        a.btn.btn-primary(href='/select_export') Export to CSV
