extends layout

block header
    title Frisbee Forms


block content
    h1= title
    p Please select a form: 
    form(method='post' action='info')
        each form in forms
            .form-group
                button.btn.btn-default(type='submit' value='#{form.name}' name='form') #{form.name}
