extends layout

block header
    title Information

block content
    h1 Information
    p Please input the following information:
    form#index-form(action='form' method='post')
        input(type='hidden' value='#{form}' name='form')
        .form-group
            label Name:
            select.form-control#select-name(name='select-name')
                option(selected) Custom
                option(value='Test Test') Test Test
                each name in names
                    p nothing
        .form-group.text-muted OR
        .form-group
            input.form-control#textbox-name(type='text' name='textbox-name' placeholder='Name')
        .form-group
            label Default Jersey Number:
            input.form-control(type='number' min='0' max='99' name='default-jersey-number' placeholder='Number' required)
        .form-group
            button.btn.btn-default(type='submit') Submit
