doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/sticky-footer.css')
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/js-webshim/minified/polyfiller.js')
        script.
            webshim.activeLang('en');
            webshims.polyfill('forms');
            webshims.cfg.no$Switch = true;
        block header
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

    body
        .container.center-block
            nav.navbar.navbar-default.navbar-static
                div.navbar-collapse
                    div.main-navbar
                        ul.nav.navbar-nav
                            li.dropdown
                                a#home-link.dropdown-toggle(href='/', role='button')  Home 
                        ul.nav.navbar-nav.navbar-right
                            li.dropdown
                                a#account-link.dropdown-toggle(href='/admin', role='button') Admin
            block content

        footer.footer
