extends layout

block header
    script(src='/javascripts/new_form.js')
    title New Form

block content
    h1 New Form
    hr
    form(method='post')
        .form-group
            label Form Name:
            input.form-control(type='text' name='form-name' placeholder='Name' required)
        .form-group
            label Close Date:
            input.form-control(type='datetime-local' name='close-datetime' required)
        hr
        .form-group
            button.btn.btn-primary#add-item Add Item
        .form-group
            button.btn.btn-success.btn-block(type='submit') Submit Form
