extends layout

block header
    title Export

block content
    h1 Export Forms
    p Please select the form that you would like to export:
    form(method='post' action='/export')
        .form-group
            label Form:
            select.form-control(name='form-name')
                each form in forms
                    option(value='#{form.name}') #{form.name}
            br
            label Export Version:
            select.form-control(name='export-version')
                option(value='1') Orders for each person
                option(value='2') Aggregated orders for each item
        .form-group
            button.btn.btn-primary(type='submit') Submit
