extends layout

block header

block content
    h1 Admin Login
    hr
    form(method='post')
        .form-group
            label Team:
            select.form-control(name='team' required)
                each team in teams
                    option(value='#{team}') #{team}
        .form-group
            label Password:
            input.form-control(type='password' name='admin-password' placeholder='Password' required)
        .form-group
            button.btn.btn-default(type='submit') Submit
